@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #262833;
    scroll-behavior: smooth;
}

.hero-slider-wrapper {
    min-height: calc(100vh - 40px);
    width: 100%;
}

.hero-slider {
    height: calc(100vh - 40px);
}

.active-bullet {
    background: #12131a !important;
}

.scale-up-slider {
    transition: transform 0.3s ease;
}

.scale-up-slider:hover {
    transform: scale(0.9);
}

.scale-down-slider {
    transition: transform 0.3s ease;
}

.scale-down-slider:hover {
    transform: scale(1.1);
}

.flex-center {
    @apply flex items-center justify-center;
}

.style-navigation {
    @apply text-3xl cursor-pointer  w-10 h-10  absolute top-[50%] right-[5%] z-10 opacity-0 group-hover:opacity-60 transition-opacity duration-500 ease-in-out;
}

.style-navigation-hero {
    @apply w-10 h-10 bg-white rounded-full absolute z-20 top-[50%] flex-center cursor-pointer text-xl;
}

.blog-items-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr minmax(496px, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
            "main 1"
            "main 2"
            "main 3";
}

.text-limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}