@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
span,
label,
a {
  color: #2f3133;
}

.hero-slider-wrapper {
  @apply w-full lg:min-h-[582px] min-h-[512px];
}

.header-blur {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
}

.active-bullet {
  background: #12131a !important;
}

.active-bullet-event {
  background: #26c44b !important;
  opacity: 1 !important;
}

.scale-up-slider {
  transition: transform 0.3s ease;
}

.scale-up-slider:hover {
  transform: scale(0.9);
}

.scale-down-slider {
  transition: transform 0.3s ease;
}

.scale-down-slider:hover {
  transform: scale(1.1);
}

.flex-center {
  @apply flex items-center justify-center;
}

.style-navigation {
  @apply text-3xl cursor-pointer  w-10 h-10  absolute top-[50%] right-[5%] z-10 opacity-0 group-hover:opacity-60 transition-opacity duration-500 ease-in-out;
}

.project-grid-item:nth-child(4n-3),
.project-grid-item:nth-child(4n) {
  grid-column: span 1;
}

.project-grid-item:nth-child(4n-2),
.project-grid-item:nth-child(4n-1) {
  grid-column: span 1;
}

@media (min-width: 1024px) {
  .team-grid-item:nth-child(even) {
    margin-top: 146px;
  }
}

@media (min-width: 768px) {
  .project-grid-item:nth-child(4n-3),
  .project-grid-item:nth-child(4n) {
    grid-column: span 3;
  }

  .project-grid-item:nth-child(4n-2),
  .project-grid-item:nth-child(4n-1) {
    grid-column: span 2;
  }
}

.translate-three-md {
  @apply group-hover:-translate-y-4 group-hover:translate-x-10 group-hover:scale-125 transition-all duration-1000 ease-in-out;
}

.translate-three-lg {
  @apply group-hover:translate-x-6 transition-all duration-1000 ease-in-out;
}
.translate-three-car {
  @apply group-hover:translate-x-10 transition-all duration-1000 ease-in-out;
}
.translate-three-sun {
  @apply group-hover:scale-150 group-hover:rotate-90 transition-all duration-1000 ease-in-out;
}

.bullets {
  @apply absolute w-full text-start lg:text-center px-6 !bottom-[605px] lg:!bottom-[36px];
}

.slide-arrow {
  @apply group-hover/arrow:translate-x-8 transition-all duration-500 ease-in-out;
}
.style-navigation-hero {
  @apply w-10 h-10 bg-white rounded-full absolute z-20 bottom-[500px] lg:bottom-auto lg:top-[47%] flex-center cursor-pointer text-xl;
}
.style-navigation-event {
  @apply w-10 h-10 bg-white rounded-full md:absolute z-20 md:top-0 md:bottom-0 translate-y-2/4 flex-center cursor-pointer text-xl;
}
.style-navigation-products {
  @apply w-10 h-10 bg-white rounded-full absolute z-20 -top-16 lg:top-[47%] flex-center cursor-pointer text-xl;
}
.style-navigation-campaing {
  @apply w-10 h-10 bg-beige-200 rounded-full md:absolute z-20 md:top-0 md:bottom-0 translate-y-2/4 flex-center cursor-pointer text-xl;
}

.select {
  @apply rounded-full focus:rounded-b-none focus:rounded-t-3xl focus:border-[#7c7c7c] focus:border-b-0 h-12 px-5 py-[6px] pr-12 text-sm font-medium bg-white border border-grayscale-200 w-full outline-none flex-shrink-0;
  background: url(../../public/assets/icons/expand_more.png);
  background-size: 20px;
  background-position: center right 14px;
  background-repeat: no-repeat;
  text-overflow: ellipsis;
}

.select::-webkit-inner-spin-button,
.select::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.select[type="number"] {
  -moz-appearance: textfield;
}

.dropdown {
  @apply absolute overflow-hidden top-12 w-full h-0 bg-white transition-all duration-300 border-[#7c7c7c] rounded-b-3xl z-10;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.dropdown li {
  @apply py-3 px-5 text-grayscale-900 font-medium text-sm leading-4 cursor-pointer bg-white hover:bg-hover-dropdown transition-colors;
}

.select:focus + .dropdown {
  @apply border block h-[160px] border-t-0;
}

.simulate-button {
  @apply px-5 py-[6px] h-12 bg-grayscale-900 rounded-full text-white text-sm font-semibold transition-colors hover:bg-primary-green flex-shrink-0;
}

.blog-items-grid {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .blog-items-grid > * {
    margin-bottom: 30px;
  }
  .blog-items-grid:last-child {
    margin-bottom: 0px;
  }
}

@media (min-width: 1024px) {
  .blog-items-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr minmax(496px, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "main 1"
      "main 2"
      "main 3";
  }
}

.text-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.bg-solutions {
  background: url(../../public/assets/images/section-solutions/bg-solutions.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-house {
  background: url(../../public/assets/images/section-solutions/projeto-residencial-botucatu-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
.bg-farm {
  background: url(../../public/assets/images/section-solutions/projeto-rural-campo-grande-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
.bg-store {
  background: url(../../public/assets/images/section-solutions/projeto-empresarial-monte-alto-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
.bg-factory {
  background: url(../../public/assets/images/section-solutions/projeto-industrial-andradas-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

.gradient-black {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(229, 230, 231, 0) 100%
  );
}

.h-stack-18 > * {
  margin-bottom: 18px;
}

.h-stack-18 > *:last-child {
  margin-bottom: 0px;
}

@layer utilities {
  .nav {
    @apply relative cursor-pointer;
  }

  .nav::after {
    @apply content-[''] bg-white h-[2px] w-[0%] left-0 -bottom-[2px] rounded-xl absolute duration-300;
  }
  .nav:hover:after {
    @apply w-[100%];
  }
}
